@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background styles for signup and login */
.signup-bg {
    background-image: url('/static/image/travel1.jpg');
    @apply bg-cover bg-center min-h-screen;
}

.login-bg {
    background-image: url('/static/image/travel2.jpg');
    @apply bg-cover bg-center min-h-screen;
}

.add-form {
    background-image: url('/static/image/add_form_image.jpg');
    @apply bg-cover bg-center min-h-screen;
}

.update-form {
    background-image: url('/static/image/update_form_image.jpg');
    @apply bg-cover bg-center min-h-screen;
}

.add-form-side {
    background-image: url('/static/image/add_form_image.jpg');
    @apply bg-cover bg-center;
}

.update-form-side {
    background-image: url('/static/image/update_form_image.jpg');
    @apply bg-cover bg-center;
}

.profile_detail {
    background-image: url('/static/image/profile_detail.jpg');
    @apply bg-cover bg-center;
}

/* Styling for intl-tel-input */
.iti__selected-flag {
    top: 6px;
    height: 33px !important;
    border-radius: 4px;
    transition: 0.3s;
}

input#phone {
    padding-left: 52px !important;
}

.intl-tel-input {
    z-index: 99;
    width: 100%;
}

.iti-flag {
    box-shadow: none;
}

.iti__country-list {
    border-radius: 4px !important;
    z-index: 999 !important;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 8%) !important;
    border: 1px solid #ececec !important;
    width: 270px !important;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}

.my-container{
    @apply w-[80%] mx-auto
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px; /* Space between grid items */
    width: 400px;
    height: 300px;
    position: relative;
}

/* Base Style for Grid Items */
.grid-item {
    background-image: url('/static/image/header-image3.jpg'); /* Correct static path */
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.grid-item2 {
    background-image: url('/static/image/header-image2.jpg'); /* Correct static path */
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Custom Shapes: Make Some Bigger */
.item1 { background-position: 0% 0%; grid-column: span 2; grid-row: span 1; }
.item2 { background-position: 50% 0%; grid-column: span 1; grid-row: span 1; }
.item3 { background-position: 100% 0%; grid-column: span 1; grid-row: span 2; }

.item4 { background-position: 0% 50%; grid-column: span 1; grid-row: span 2; }
.item5 { background-position: 50% 50%; grid-column: span 2; grid-row: span 2; }
.item6 { background-position: 100% 50%; grid-column: span 1; grid-row: span 1; }

.item7 { background-position: 0% 100%; grid-column: span 2; grid-row: span 1; }
.item8 { background-position: 50% 100%; grid-column: span 1; grid-row: span 1; }
.item9 { background-position: 100% 100%; grid-column: span 1; grid-row: span 2; }
