{% extends "base.html" %}

{% block main %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 text-teal-700">Expense Details</h2>
            <div class="text-gray-700 mb-4">
                <p><strong>Trip:</strong> {{ expense.trip.name }}</p>
                <p><strong>Category:</strong> {{ expense.category.category }}</p>
                <p><strong>Amount:</strong> {{ preferred_currency_symbol }}{{ expense.amount }}</p>
                <p><strong>Description:</strong> {{ expense.description }}</p>
                <p><strong>Date:</strong> {{ expense.date }}</p>
                {% if expense.receipt %}
                    <p>
                        <strong>Receipt:</strong>
                        <a href="{{ expense.receipt.url }}" class="text-blue-500 underline" target="_blank">View Receipt</a>
                    </p>
                {% endif %}
            </div>
            <div class="mt-6 flex justify-between">
                <a href="{% url 'edit-expense' expense.trip.id expense.id %}" 
                   class="px-4 py-2 bg-teal-600 text-white rounded hover:bg-teal-700">
                   Edit Expense
                </a>
                <!-- Delete Icon -->
                <a href="{% url 'delete-expense' expense.trip.id expense.id %}" class="text-red-500 hover:text-red-700">
                    Delete Expense
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
